body {
  background-color: lightblue;
}

h1 {
  color: gold;
  text-align: center;
}

p {
  color: rgb(0, 8, 8);
  font-size: 30px;
}

img {
  border: 3px solid black;
}

ul {
  list-style-type: circle;
}

li {
  margin-bottom: 20px;
}

a {
  color: violet;

}

a:hover {
  color: blueviolet;
}